<div class="site-header__sidecart-wrapper" id="site-header__sidecart-wrapper" data-minicart
data-minicart-moneyformat="{{shop.money_with_currency}}"
data-minicart-friendlyerror="Oh no! The cart failed to load.">
  <div id="site-header__sidecart" class="site-header__sidecart"></div>
  <template data-minicart-countrylist>
      {{country_option_tags}}
  </template>
</div>