<div class="page__container space-top space-bottom">
  <h1 style="text-align: center;">404 - Page not found</h1>
</div>

{% schema %}
{
"name": "404 Page",
"class": "page-404",
"settings": [

]
}
{% endschema %}