<div class="AnchorLinks__Container">
  <div class="AnchorLinks__Inner">
    <div class="AnchorLinks__Dropdown">
      <button class="AnchorLinks__Dropdown-btn">How It Works</button>
    </div>
    <ul class="AnchorLinks__List">
      <li class="AnchorLinks__List-item">
        <a href="#how-it-works" class="AnchorLinks__List-title AnchorLinks__List-title--active">How It Works</a>
      </li>
      <li class="AnchorLinks__List-item">
        <a href="#our-affiliate" class="AnchorLinks__List-title">Who Are Our Affiliates</a>
      </li>
      <li class="AnchorLinks__List-item">
        <a href="#our-perks" class="AnchorLinks__List-title">Our Perks</a>
      </li>
      <li class="AnchorLinks__List-item">
        <a href="/apps/wpdapp" class="AnchorLinks__List-title">Sign Up & Become A Member</a>
      </li>
    </ul>
  </div>
</div>

{% style %}
  section {
    scroll-margin-top: 100px;
  }
{% endstyle %}



{% schema %}
  {
    "name": "Anchor Links",
    "tag": "section",
    "class": "AnchorLinks",
    "settings": [],
    "presets": [
      {
        "name": "Anchor Links",
        "category": "Section"
      }
    ]
  }
{% endschema %}