<section class="BannerVideo">
    <div class="BannerVideo__Container">
        <div class="BannerVideo__Video-main">
            <video class="BannerVideo__Video" id="banner-video" src="{{section.settings.videourl}}"      type="video/mp4" poster="{{ section.settings.videoposter | img_url:'2048x2048' }}">Your browser does not support the video tag.</video>
            <div class="BannerVideo__Play-button" id="video-play-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z"/></svg>
            </div>
        </div>
    </div>
</section>

<script>
const videoBanner = document.getElementById("banner-video");
const circlePlayButton = document.getElementById("video-play-button");

function togglePlay() {
	if (videoBanner.paused || videoBanner.ended) {
		videoBanner.play();
	} else {
		videoBanner.pause();
	}
}

circlePlayButton.addEventListener("click", togglePlay);
videoBanner.addEventListener("playing", function () {
	circlePlayButton.style.opacity = 0;
});
videoBanner.addEventListener("pause", function () {
	circlePlayButton.style.opacity = 1;
});

</script>

{% schema %} { "name": "Banner Video", "tag": "section",
"settings": [

           {
      "type": "url",
      "id": "videourl",
      "label": "Video Link"
    },
         {
      "type": "image_picker",
      "id": "videoposter",
      "label": "Video Poster"
    }

], "presets": [ { "name": "Banner Video", "category": "Section" } ] } {%
endschema %}
