<section class="StoryFaq">
  <div class="StoryFaq__Container">
        <h2 class="StoryFaq__Head">{{ section.settings.heading }}</h2>
          <div class="StoryFaq__FaqInner__content">
          {% for block in section.blocks %}
            <div class="StoryFaq__Main">
              <a href="javascript:void(0)" class="StoryFaq__Question">
                {{block.settings.question}}
                <div class="StoryFaq__Plus__Minus">
                  <div class="StoryFaq__Plus">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="45.402px" height="45.402px" viewBox="0 0 45.402 45.402" style="enable-background:new 0 0 45.402 45.402;"
                      xml:space="preserve">
                    <g>
                      <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                        c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                        c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                        c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
                    </g>
                    </svg>
                  </div>
                  <div class="StoryFaq__Minus">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="459.313px" height="459.314px" viewBox="0 0 459.313 459.314" style="enable-background:new 0 0 459.313 459.314;"
                      xml:space="preserve">
                    <g>
                      <path d="M459.313,229.648c0,22.201-17.992,40.199-40.205,40.199H40.181c-11.094,0-21.14-4.498-28.416-11.774
                        C4.495,250.808,0,240.76,0,229.66c-0.006-22.204,17.992-40.199,40.202-40.193h378.936
                        C441.333,189.472,459.308,207.456,459.313,229.648z"/>
                    </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="StoryFaq__Faq__Content">
                <p class="StoryFaq__Answer">{{block.settings.answer | strip_html}}
                </p>
              </div>
            </div>
            {% endfor %}
  </div>
</section>

<script>
$(document).ready(function(){
  setTimeout(function () {
  $(document).on("click", ".StoryFaq__Main > a", function () {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this).siblings(".StoryFaq__Faq__Content").slideUp(200);
    } else {
      $(".StoryFaq__Main > a").removeClass("active");
      $(this).addClass("active");
      $(".StoryFaq__Faq__Content").slideUp(200);
      $(this).siblings(".StoryFaq__Faq__Content").slideDown(200);
    }
    return false;
  });
}, 2500);
});
</script>


{% schema %} { "name": "FAQ", "settings": [ 
  { "type": "text", "id": "heading",
"label": "Heading" } ], 
"blocks": [ 
  { "type": "FAQs", "name": "FAQs",
"settings": [ { "type": "text", "id": "question", "label": "Add Question" }, {
"type": "richtext", "id": "answer", "label": "Add Answer" } ] } ], "presets": [
{ "category": "FAQ", "name": "StoryFAQ Section" } ] } {% endschema %}
