<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" integrity="sha512-ZfKn7az0YmtPUojZnRXO4CUdt3pn+ogBAyGbqGplrCIR5B/tQwPGtF2q29t+zQj6mC/20w4sSl0cF5F3r0HKSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="FaqSection">
  <div class="FaqSection__Container">
        <h2 class="FaqSection__Head">{{ section.settings.heading }}</h2>
        <div class="FaqSection__FaqMain__content">
          <div class="FaqSection__FaqInner__content">

          {% for block in section.blocks %}
            <div class="FaqSection__Set">
              <a href="#" class="FaqSection__Question">
                {{block.settings.question}}
                <div class="FaqSection__Plus__Minus">
                  <div class="FaqSection__Plus">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="45.402px" height="45.402px" viewBox="0 0 45.402 45.402" style="enable-background:new 0 0 45.402 45.402;"
                      xml:space="preserve">
                    <g>
                      <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                        c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                        c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                        c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
                    </g>
                    </svg>
                  </div>
                  <div class="FaqSection__Minus">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="459.313px" height="459.314px" viewBox="0 0 459.313 459.314" style="enable-background:new 0 0 459.313 459.314;"
                      xml:space="preserve">
                    <g>
                      <path d="M459.313,229.648c0,22.201-17.992,40.199-40.205,40.199H40.181c-11.094,0-21.14-4.498-28.416-11.774
                        C4.495,250.808,0,240.76,0,229.66c-0.006-22.204,17.992-40.199,40.202-40.193h378.936
                        C441.333,189.472,459.308,207.456,459.313,229.648z"/>
                    </g>
                    </svg>
                  </div>
                </div>
              </a>
              <div class="FaqSection__Faq__Content">
                <p class="FaqSection__Answer">{{block.settings.answer}}
                </p>
              </div>
            </div>
            {% endfor %}
        </div>
  </div>
</section>

{% schema %} { "name": "StoryFAQ", "settings": [ { "type": "text", "id": "heading",
"label": "Heading" } ], "blocks": [ { "type": "FAQs", "name": "FAQs",
"settings": [ { "type": "text", "id": "question", "label": "Add Question" }, {
"type": "richtext", "id": "answer", "label": "Add Answer" } ] } ], "presets": [
{ "category": "FAQ", "name": "StoryFAQ" } ] } {% endschema %}
